---
import { getCollection } from "astro:content"
import Head from "../partials/base.astro"

export async function getTags(): Promise<string[]> {
	let recipes = await getCollection("recipe");
	// Get all the tags from the recipes and
	// add them to a hashset so we don't get duplicates.
	let set: Set<string> = new Set();
	recipes.flatMap((i) => i.data.tags).map((f) => set.add(f))
	let tags = new Array;
	set.forEach((e) => tags.push(e))
	return tags;
}

let recipes = await getCollection("recipe");
recipes.sort((a,b) => b.data.date.getDate() - a.data.date.getDate())

const tags = await getTags();

---

<Head title='Home' desc='Where the party is happening!'>
	<h1>Welcoming all based cooks!</h1>
	<div>
		<h2>Latest Recipes:</h2>
	<ol>
		{
			recipes.map((recipe,index) => {
				if (index < 10) {
					return <li><a href=`/recipe/${recipe.id}`>{recipe.data.title}</a></li>
				}
			})
		}
	</ol>
	</div>

	<div>
		<h2>Tags:</h2>
	<ul id="tags">
		{
			tags.map((r) => <li><a href=`/tag/${r}`>{r}</a></li>)
		}
	</ul>
	</div>
</Head>
<style>
	#tags {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
	}
	#tags li {
		padding: 5px;
		list-style-type: none;
	}
</style>