---
import { getCollection } from "astro:content"
import Head from "../partials/base.astro"
import Latest from "../partials/latest.astro";
import Tagcloud from "../partials/tagcloud.astro";
import Search from "../partials/search.astro";

export async function getTags(): Promise<string[]> {
	let recipes = await getCollection("recipe");
	// Get all the tags from the recipes and
	// add them to a hashset so we don't get duplicates.
	let set: Set<string> = new Set();
	recipes.flatMap((i) => i.data.tags).map((f) => set.add(f))
	let tags = new Array;
	set.forEach((e) => tags.push(e))
	return tags;
}

const recipes = await getCollection("recipe");
recipes.sort((a,b) => b.data.date.getDate() - a.data.date.getDate())

const tags = await getTags();

---

<Head title='Home' desc='The best cooking website for open-source recipies.'>
	<header>
		<h1>Welcome to <span>foss.cooking<span></h1>
		<h2>Making cooking fast, easy, foss</h2>
		<h2>🧑‍🍳🔥</h2>
	</header>
	<Search content={recipes}/>
	<hr>
	<Latest recipes={recipes}/>
	<hr>
	<Tagcloud tags={tags} />
</Head>
<style>
	header {
		margin: 50px;
	}
	h1 {
		margin-top: 40px;
		margin-bottom: 0;
		font-size: 3rem;
	}
	h1,h2 {
		text-align: center;
	}
	h2 {
		margin: 10px;
		color: var(--second);
	}
	span {
		color: var(--primary);
	}
	@media screen and (max-width: 600px) {
		h1 {
			font-size: 2rem;
		}	
	}
</style>
