---
import { getCollection } from "astro:content";
import Head from "../partials/base.astro";
import Header from "../partials/header.astro";
import RecipeList from "../partials/recipeList.astro";
import type { CollectionEntry } from "astro:content";

export const prerender = false;

const query = Astro.url.searchParams.get("query");
const items: CollectionEntry<"recipe">[] = []

if (query) {
    for (const recipe of await getCollection("recipe")) {
        if (recipe.data.title.toLowerCase().includes(query.toString().toLowerCase())) {
            items.push(recipe);
        }
    }
}

items.sort((a,b) => a.data.title.length - b.data.title.length)
---
<Head title="Search..." desc="Search results page">
    <div>
    <Header title=`Search: ${query}`/>
    <RecipeList items={items} />
    </div>
</Head>
<style>
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    span {
        color: white;
    }
    div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
</style>