---

interface Props {
    tags: string[],
}

const { tags } = Astro.props;

---
<div>
	<h2>All Tags:</h2>
<ul id="tags">
	{
		tags.map((r) => <li><a id=`tag-${r}` href=`/tag/${r}` >{r}</a></li>)
	}
</ul>
</div>
<style>
    h2 {
        text-align: center;
		margin: 0;
		font-size: 2rem;
    }
	ul {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
        justify-content: center;
	}
	li {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	a {
		padding: 10px;
	}
</style>